GRAFANA_PORT=3000
GO_PORT=3080
PROMETHEUS_PORT=9090
JAEGER_PORT=16686
OTEL_COLLECTOR_PORT=8889

# For Go service
OTEL_GO_ENDPOINT=otel-collector:4317
OTEL_GO_SERVICE_NAME=""
OTEL_GO_SERVICE_VERSION="0.1.0"
OTEL_GO_METER_NAME=""
OTEL_GO_SAMPLER_RATIO=0.1

# For spring boot service
OTEL_RESOURCE_ATTRIBUTES=service.name=java_api,service.version=1.0.0
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp
OTEL_EXPORTER_OTLP_COMPRESSION=gzip
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE=cumulative
OTEL_EXPORTER_OTLP_METRICS_DEFAULT_HISTOGRAM_AGGREGATION=explicit_bucket_histogram
OTEL_TRACES_SAMPLER=parentbased_traceidratio
OTEL_TRACES_SAMPLER_ARG=0.1

DB_HOST=postgres
DB_PORT=5432
DB_NAME=db
DB_USER=postgres
DB_PASS=password

# For Infrastructure
OTELCOL_IMG=otel/opentelemetry-collector:0.96.0
NODE_EXPORTER_IMG=v1.7.0
PROMTAIL_IMG=2.9.2
LOKI_IMG=2.9.5
PROM_IMG=v2.50.1
JAEGER_IMG=1.55.0
GRAFANA_IMG=10.4.0